*{
    background-color: white;
    color: hsl(246, 90%, 36%);

}
#title{
    text-align: center;
}
h1{
    text-align: center;
    
    color: #01090f;
    border: hsl(207, 24%, 93%);
    border-start-start-radius: ;
}
#pre{
    font-size: large;
}
p{
    font-style: oblique;
    text-emphasis-color: pink;
    background-color: black;
    color: blanchedalmond

}
img{
    border-radius:8px ;
    max-width: 70%;
    max-height: fit-content;

}
# desc 1{
color: white;
}
# gb{
    border: 1px;
    border-style: solid;
    border-color: beige;
}
button{
    size-adjust: 20px;
    border-top-right-radius: ;
    border-top-color: #e70707;

}
#VAL {
    
    background-color: #48ff00
    padding-bottom: 100px;
    text-align:center;
    height: 100px;
    
    
    

}
#V22{
    text-align: center;
    border-color: blue;
    border-radius: 5%;
    background-color: blue;
    
    font-size: x-large;
    font: 500;

}
#GB24{
    
    align-items: center;
    border-radius: 50px;
    border-color: black;
}